{% extends "FirstApp/base.html" %}

{% block content %}
    <title>Skills</title>

<div class="section-title">
    <h2>SKILLS</h2>
</div>

<div class="skills-container">
    <div class="skill-item">
        <span><i class="ri-code-line"></i> Python</span>
        <div class="progress-bar">
            <div class="progress" style="width: 80%;">
                <span class="progress-text">90%</span>
            </div>
        </div>
    </div>

    <div class="skill-item">
        <span><i class="ri-braces-line"></i> JavaScript</span>
        <div class="progress-bar">
            <div class="progress" style="width: 70%;">
                <span class="progress-text">50%</span>
            </div>
        </div>
    </div>

    <div class="skill-item">
        <span><i class="ri-stack-line"></i> Django</span>
        <div class="progress-bar">
            <div class="progress" style="width: 75%;">
                <span class="progress-text">75%</span>
            </div>
        </div>
    </div>

    <div class="skill-item">
        <span><i class="ri-html5-line"></i> HTML5</span>
        <div class="progress-bar">
            <div class="progress" style="width: 85%;">
                <span class="progress-text">85%</span>
            </div>
        </div>
    </div>

    <div class="skill-item">
        <span><i class="ri-css3-line"></i> CSS</span>
        <div class="progress-bar">
            <div class="progress" style="width: 80%;">
                <span class="progress-text">80%</span>
            </div>
        </div>
    </div>

    <div class="skill-item">
        <span><i class="ri-github-line"></i> Git & GitHub</span>
        <div class="progress-bar">
            <div class="progress" style="width: 65%;">
                <span class="progress-text">65%</span>
            </div>
        </div>
    </div>

    <div class="skill-item">
        <span><i class="ri-database-line"></i> MySQL</span>
        <div class="progress-bar">
            <div class="progress" style="width: 70%;">
                <span class="progress-text">80%</span>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
